body {
    background-color: #3D3D3D ;
    overflow: auto;
}

.header {
    text-align: center;
    width: 100%;
    border-radius: 25px;
    background-color: #F6F7EB ;
    box-shadow: 0 5px 5px #333333;
    margin:auto;
}

footer {
    text-align: center;
    width: 100%;
    border-radius: 25px;
    background-color: #F6F7EB ;
    box-shadow: 0 5px 5px #333333;
    margin: auto;
    
}

.main-card { 
    border-radius: 25px;
    background-color: #F6F7EB ;
    margin: auto auto;
    padding: 20px 30px 30px;
    box-shadow: 0 5px 5px #333333;
    max-width: 90%;
    min-width: 20%;
    height: auto;
}

input, section {
    clear: both;
    padding-top: 10px;
    display: none;
}

label {
    text-align: center;
    min-width: 30%;
    color: #3D3D3D;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    display: block;
    float: left;
    padding: auto ;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

label:hover {
    cursor: pointer;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2 {
    display: block;
  }

  input:checked + label {
    border-top-color: #560BAD;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    text-decoration: none;
  }

  .bloco-conteudo {
    border-radius: 25px;
    border-top: 5px solid #3D3D3D;
    border-right: 5px solid #3D3D3D;
    border-left: 5px solid #3D3D3D;
    border-bottom: 5px solid #3D3D3D;
    min-height: 300px;
    max-height: 700px;
    padding: 10px 10px 10px;
    overflow: auto;
  }

  .main-text {
    text-align: center;
    color: #3D3D3D;
    font-family: 'Space Mono', monospace;
    margin: 10px;
  }

  .avatar {
    width:  150px;
    border-radius: 50px;
    border: 5px solid #560BAD;
  }

  .icone {
    margin: auto;
    width:  120px;
  }

  ::-webkit-scrollbar {
    display: none;
}

.button {
  text-decoration: none;
  color: #560BAD;
}